[submodule "external/sanepp"]
	path = external/sanepp
	url = https://github.com/DevCodeOne/sanepp
[submodule "external/confusepp"]
	path = external/confusepp
	url = https://github.com/DevCodeOne/confusepp
[submodule "external/udevpp"]
	path = external/udevpp
	url = https://github.com/DevCodeOne/udevpp
[submodule "external/cxxopts"]
	path = external/cxxopts
	url = https://github.com/DevCodeOne/cxxopts
